.report-container {
    max-width: 1300px;
    margin: auto;
    background: #fff;
    font-family: "Inter", sans-serif;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    margin-top: 60px;
    margin-bottom: 70px;
	min-height: 640px;
}
.chart{
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 70px;
}
h1 {
    text-align: center;
    font: bold;
    color: rgb(31, 29, 119);
}

.filter-section fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 40px;
}

.filter-section label {
    margin-right: 15px;
}

.date-range {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.date-range input[type="date"] {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.action-buttons {
    margin-top: 40px;
    margin-bottom: 40px;
}

.action-buttons button {
    margin: 0 10px;
    padding: 10px 18px;
    background-color: #386ddf;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

.action-buttons button:hover {
    background-color: rgb(31, 29, 119);
}

.summary-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    flex: 1;
    background-color: #ecf0f1;
    padding: 30px;
    border-left: 5px solid #3498db;
    border-radius: 6px;
}

.card h3 {
    margin-bottom: 10px;
    color: #2c3e50;
}

footer {
    font-family: "Inter", sans-serif;
    color: black;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px;
}


